.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.nav-table {
    display: inline-block;
}

.nav-table td {
    width: 500px;
}

.nav-table a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-table a:hover {
    background-color: #555; /* Change background color on hover */
}

/* CSS for main heading */
.main-heading {
    text-align: center;
    margin-bottom: 20px;
}

/* CSS for sub heading */
.sub-heading {
    margin-top: 30px;
}

/* CSS for content paragraphs */
.content-paragraph {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
}

/* CSS for list items */
.list-items {
    font-size: 20px;
    text-align: justify;
    list-style-type: disc;
    padding-left: 20px;
}

/* CSS for navigation table */
.navigation-table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

/* CSS for navigation links */
.nav-link {
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 75px 16px;
    text-align: center;
}

.nav-link:hover {
    background-color: #f0f0f0;
}

/* CSS for left-aligned link */
.navigation-table td:first-child {
    text-align: left;
}

/* CSS for right-aligned link */
.navigation-table td:last-child {
    text-align: right;
}

/* CSS for footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

/* CSS for footer table */
.footer-table {
    width: 100%;
}

/* CSS for footer links */
.footer-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

/* Additional styles for footer links on hover */
.footer-link:hover {
    background-color: #555;
}


